body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 5vw;
    margin-right: 5vw;
}

nav ul {
    list-style: none;
    font-weight: 600;
}

h1 {
    margin-top: 12px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}

ul {
    display: flex;
    gap: 30px;
}

.title-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between; */
    margin: 0vw 10vw;
    padding-top: 10vh;

}

.title-content {
    flex: 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-content h2 {
    font-size: clamp(2.3rem, 4.5vw, 4.5vw); /* Min size, preferred size, max size */
    line-height: 1.4;
    margin: 0;
}


.title-section img {
    max-width: 600px;
    object-fit: cover;
    border-radius: 1%;
}


.section {
    align-items: center;
    font-size: large;
    padding-top: 10vh;
    margin: 0vw 10vw;
    height: 80vh;
}

p {
    font-size: 1.5em;
}