body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}

.logo-nav {
    margin: 0;
    margin-left: 2vw;
    max-width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    font-weight: 600;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5%;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color: rgb(129, 27, 245);
}   

.title-section {
    display: flex;
    justify-content: space-between;
    margin: 0vw 10vw;
    padding: 3rem;
    gap: 3rem;
}

.title-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-content h2 {
    font-size: clamp(3.6rem, 4.5vw, 4.5vw);
    /* Min size, preferred size, max size */
    line-height: 1.4;
    margin: 0;
}

.title-section img {
    max-width: 600px;
    /* height: 680px; */
    object-fit: cover;
    border-radius: 1%;
}

.bio-section {
    min-height: 80vh;
    padding-top: 10vh;
    margin: 0vw 10vw;
    align-items: center;
    font-size: large;
}

p {
    font-size: 1.5em;
}

.journey-section {
    min-height: 80vh;
    padding-top: 10vh;
    margin: 0vw 10vw;
    align-items: center;
    font-size: large;
}

.images{
    max-height: 300px;
    object-fit: cover;
    border-radius: 1%;
}

.image-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listen-section{
    min-height: 80vh;
    padding-top: 10vh;
    margin: 0vw 10vw;
    align-items: center;
    font-size: large;
}

.contact-section{
    min-height: 80vh;
    padding-top: 10vh;
    margin: 0vw 10vw;
    align-items: center;
    font-size: large;
}