body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    font-weight: 600;
}

h1 {
    margin-top: 12px;
}

h2 {
    font-size: 35px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}

ul {
    display: flex;
    gap: 30px;
}

.main-section-title {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#biography {
    align-items: center;
    font-size: large;
    margin: 1rem;
}

p{
    font-size: 1.5em;
    
}

/* #title {
    
} */

#daft-punk-coachella {
    width: 500px;
    border-radius: 3%;

}